{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
{% image self.banner_image fill-900x400 as img %}
<div class="jumbotron" style="background-image:url('{{ img.url}}'); background-size:cover">
    <h1 class="display-4">{{self.banner_title}}</h1>
    <p class="lead">{{self.banner_subtitle|richtext}}</p>
    <p>It's a simple and effective way to highlight important content.</p>
    {% if self.banner_cta %}
        <a class="btn btn-primary btn-lg" href="{{self.banner_cta.url}}" role="button">Learn more {{self.banner_cta}}</a>
    {% endif %}
</div>
{% endblock %}